<h1>Login</h1>

<<<<<<< HEAD
<% if (messages.error) {%>
    <%= messages.error %>
<% } %>

<form action="/login" method="POST">
=======
<form action="/users/login" method="POST">
>>>>>>> db491c47079e3e7c744ad8bf7edd6e577595759d
    <div>
        <label for="username">Username</label>
        <input type="username" id="username" name="username" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
